*{
    margin: 0;
    padding: 0;
}

.fundo{
    background-image: linear-gradient(45deg, black, crimson);
    height: 100vh;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#resultado{
    background-color: #fff;
    width: 215px;
    height: 30px;
    margin: 5px;
    font-size: 1.8rem;
    color: black;
    text-align: right;
    padding: 5px;
    border-radius: 5px;
    overflow: hidden;
}

.calculadora{
    
    position: absolute;
    background-color: rgb(0, 0, 0);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 15px;

}

button{
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: rgba(31, 31, 31);
    color: #fff;
    margin: 3px;
}

button:hover{
    background-color: #ffffff;
    color: rgb(31, 31, 31);

}
